@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Restaurant.ViewModels.TransactionFullBookTableViewModel
@{
    ViewData["Title"] = "Full Action";
}





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionBookTableFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionBookTableEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionBookTableMobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionBookTableDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TransactionBookTableViewModelss)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionBookTableFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionBookTableEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionBookTableMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionBookTableDate)
                </td>

                <td>
                    @* Delete *@
                    <form asp-action="Delete" id="DeleteForm-@item.Id" class="d-inline">
                        <input type="hidden" asp-for="Id" value="@item.Id " />
                        <input type="button" value="Delete" class="btn btn-danger icon-btn b-r-22" onclick="ConfirmDelete('@item.Id')" />
                    </form>
                    <a asp-action="Reply" class="btn btn-warning icon-btn b-r-22" asp-route-id="@item.Id">Reply</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
<script>

    function ConfirmDelete(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $(`#DeleteForm-${id}`).submit()
            }
        });
    }

</script>














