@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Restaurant.ViewModels.MasterFullSliderViewModel
@{
    ViewData["Title"] = "Full Action";
}






<div class="row">
    <div class="col-12">
        <form id="saneForm" asp-action="Save" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="control-label" value="0" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterSliderTitle" class="control-label"></label>
                <input asp-for="MasterSliderTitle" class="form-control" />
                <span asp-validation-for="MasterSliderTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterSliderBreef" class="control-label"></label>
                <input asp-for="MasterSliderBreef" class="form-control" />
                <span asp-validation-for="MasterSliderBreef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterSliderDesc" class="control-label"></label>
                <input asp-for="MasterSliderDesc" class="form-control" />
                <span asp-validation-for="MasterSliderDesc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="MasterSliderUrl" class="form-control" />
                @* <input asp-for="CVURL" class="form-control" type="hidden" /> *@
                <label asp-for="MasterSliderUrl" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="MasterSliderUrl" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Clear" class="btn btn-dark" onclick="ClearForm()" />
            </div>
        </form>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasterSliderTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterSliderBreef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterSliderDesc)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MasterSliderUrl)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MasterSliderViewModelss)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterSliderTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterSliderBreef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterSliderDesc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MasterSliderUrl)
                </td>


                <td>


                    @* fillBtn *@
                    <a href="#" class=" fillBtn btn btn-warning icon-btn b-r-22"
                       data-id="@item.Id"
                       data-title="@item.MasterSliderTitle"
                       data-breef="@item.MasterSliderBreef"
                       data-desc="@item.MasterSliderDesc"
                       data-imageurl="@item.MasterSliderUrl">Edit2</a> |

                    @* Delete *@
                    <form asp-action="Delete" id="DeleteForm-@item.Id" class="d-inline">
                        <input type="hidden" asp-for="Id" value="@item.Id " />
                        <input type="button" value="Delete" class="btn btn-danger icon-btn b-r-22" onclick="ConfirmDelete('@item.Id')" />
                    </form>

                    @* Change Status *@
                    @if (item.IsActivate)
                    {
                        <form asp-action="ChangeStatus" id="ChangeForm-@item.Id" class="d-inline">
                            <input type="hidden" asp-for="Id" value="@item.Id " />
                            <input type="button" value="Deavtivate" class="btn btn-danger icon-btn b-r-22" onclick="ConfirmChange('@item.Id')" />
                        </form>
                    }
                    else
                    {
                        <form asp-action="ChangeStatus" id="ChangeForm-@item.Id" class="d-inline">
                            <input type="hidden" asp-for="Id" value="@item.Id " />
                            <input type="button" value="Avtivate" class="btn btn-danger icon-btn b-r-22" onclick="ConfirmChange('@item.Id')" />
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
<script>

    $(function () {

        $(".fillBtn").on("click", function () {
            var Id = $(this).data('id')
            var MasterSliderTitle = $(this).data('title')
            var MasterSliderBreef = $(this).data('breef')
            var MasterSliderDesc = $(this).data('desc')
            var ImageFile = $(this).data('imageurl')


            $("#Id").val(Id);
            $("#MasterSliderTitle").val(MasterSliderTitle);
            $("#MasterSliderBreef").val(MasterSliderBreef);
            $("#MasterSliderDesc").val(MasterSliderDesc);
            $("#MasterSliderUrl").val(ImageFile);
        })



    })
    function ConfirmDelete(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $(`#DeleteForm-${id}`).submit()
            }
        });
    }

    function ConfirmChange(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Change it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $(`#ChangeForm-${id}`).submit()
            }
            else { }
        });
    }


    function ClearForm() {

        $("#saneForm #Id").val(0);
        $("#MasterSliderTitle").val('');
        $("#MasterSliderBreef").val('');
        $("#MasterSliderDesc").val('');
        $("#ImageFile").val('');

    }
</script>


